#container-home{
    width: 1024px;
    height: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: hsl(0, 0%, 99%);
    .actions{
        grid-column: 3/8;
        display: flex;
        flex-direction: column;
        margin: auto;
        h2{
                text-align: center;
                margin-top: 13%;
                margin-bottom: 5%;
            }
        .action{
                margin-top: 5%;
                margin-bottom: 5%;
            .is-large{
                border-bottom: 1px solid gray ;
            }
            .is-small{
                    text-align: right;
                    padding-top: 3%;
                }
        }
    } 
}

#container-students{
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    background-color: hsl(0, 0%, 99%);


    .students{
        grid-column: 3/8;
        .view{
            display: flex;
            margin: 8%;
            flex-direction: column;
            div{
                p{
                    margin-top:  5%;
                }
            }
        }
        .filter-students{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 5% 10% 7% 10%;
            input{
                margin-right:1%;
            }
            button{
                margin-left: 1%;
            }
        }
        .create-student{
            margin: 5% 20% 5% 20%;
           .batton{
                display: flex;
                justify-content: center;
                margin: 2%;
                button{
                    margin-left: 2%;
                }    
            }
            select{
                margin: 3%;
            }
            input{
                margin: 1%;
            }
            .form{
                display: flex;
                flex-direction: row;
                justify-content: center; 
              
            }
           
        }
        
    }
}
#container-subjects{
    width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    background-color: hsl(0, 0%, 99%);
    .subjects{
        grid-column: 3/8;
        .view{
            display: flex;
            margin: 8%;
            flex-direction: column;
            .details-subject-edit{
                margin-left:5%;
            }
        }
    
        .components-subject{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            details{
                margin: 5% 15% 5% 15%;
                .create{
                    margin: 5% 20% 5% 20%;
                    .select{
                        width: 100%;
                        margin-bottom:15%;
                        select{
                            width: 92%;
                        }
                    }
                    .form{
                        display: flex;
                        flex-direction: row;
                        justify-content: center; 
                        
                    }
                    .student-checkbox{
                        width: 110%;
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        margin: 5%;
                        margin-left: 10%;
                    }
                    .batton{
                        display: flex;
                        justify-content: center;
                        margin-left: 5%;
                        button{
                            margin-left: 5%;
                        }    
                    }
                    input{
                        margin-top: 10%;
                    }
                    
                }   
            }
        }
        
        
    }
    
}

.menu{
    grid-column: 1/3;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    background-color: lightseagreen;
    box-shadow: 3px 3px 3px 1px;
    div{
        text-align: center;
        margin-top: 20%;
    }
}